<div class="page-header">
	<h1>Pods</h1>
	<%= link_to 'New Pod', new_admin_pod_path, :class=>'btn btn-primary' %>
</div><!-- page-header -->	
<% if @pods %>
<table class="table table-striped">
  <tr>
    <th>Title</th>
  </tr>
<% @pods.each do |p| %>
  <tr>
	<td><%= link_to p.title, [:admin, p] %></td>
  </tr>
<% end %>
</table>
<% end %>