<div class="page-header clearfix">
	<h1 class="pull-left">Listing zones</h1>
	<%= link_to 'New Zone', new_admin_zone_path, :class=>'btn btn-primary pull-right' %>
</div><!-- page-header -->	
<table class="table table-striped">
  <tr>
    <th>Zone</th>
    <th>Delete</th>
  </tr>
<% @zones.each do |zone| %>
  <tr>
	<td><%= zone.zone %></td>
    <td><%= link_to 'x', [:admin, zone], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>