<div class="page-header">
<h1>User Roles</h1>	
</div><!-- page-header -->
<table class="table table-striped">
	<% @roles.each do |r| %>
		<tr><td><a href="<%= edit_admin_role_path(r) %>"><%= r.title %> | <%= r.desc %></a></td></tr>
	<% end %>
</table>