<div id="map_wrapper">
	<%= gmaps(:map_options => { "auto_zoom" => false, "zoom" => 14},
		:markers     => { "data" => @map },
		:kml => { :data => '[{url: "http://aequ.com/kml/mooredamage.kml", options: {clickable: false }},{url: "http://aequ.com/kml/workzones.kml", options: {clickable: false }}]'}
	)
	%>
</div><!-- map_wrapper -->
<div id="pods_wrapper">
	<% @pods.each do |p| %>
		<div class="pod">
			<%= p.title %>
		</div>
	<% end %>
</div><!-- pods_wrapper -->
