<div class="page-header clearfix">
	<h1 class="pull-left">Work Order Statuses</h1>
	<%= link_to 'New Status', new_admin_wo_status_path, :class=>"btn btn-primary pull-right" %>
</div><!-- page-header -->
<table class="table table-striped">
	<tr>
	  <th>W/O Status</th>
	  <th>Delete</th>
	</tr>
	<% @wo_statuses.each do |wo_status| %>
	  <tr>
		<td><%= wo_status.status %></td>
	    <td><%= link_to 'x', [:admin, wo_status], method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
</table>
