/* @override 
	http://servemoore.dev/assets/application.css?body=1 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#needs_wrapper #needs {
	height: 70%;
	-webkit-transition: height 1s;
}
#needs_wrapper div.map_container {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 30%;
	-webkit-transition: height 1s;
	z-index: -1;
}
#needs_wrapper #map {
	width: 100%;
	height: 100%;
}

#needs_wrapper.map-large #needs {
	height: 50%;
}
#needs_wrapper.map-large div.map_container {
	height: 50%;
}

div.map_container {
  padding: 0;
  margin: 0;
  border: 0;
}

#map img {
  max-width: none;
}

#map label {
  width: auto;
  display: inline;
}

#needs {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: white;
}

/* Waivers */
body.waivers {
  background-color: #333;
  padding: 5px;
}

body.waivers header {
  display: none;
}

body.waivers article {
	background-color: white;
	margin-top: 15px;
	padding: 15px;
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45);
}

body.waivers form label, body.waivers form input {
	text-transform: capitalize;
	margin-left: 5px;
}
body.waivers form textarea {
	margin-left: 5px;
	max-width: 400px;
	width: 90%;
	height: 100px;
}

body.waivers footer {
	margin-top: 15px;
	background-color: #ccc;
}

body.waivers span.address, body.waivers span.name {
	font-weight: bold;
}