#main #map_wrapper {
	position: absolute;
	height: 50%;
	top: 0;
	left: 0;
	width: 100%;
}
div.map_container {
	height: 100%;
}
#map {
	height: 100%;
}
#main #map_wrapper {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  width: 100%;
}
body.needs.show #main {
	position: relative;
}
body.needs.show #main #map_wrapper {
	height: 25%;
	min-height: 200px;
}
body.needs .map_space {
	height: 25%;
	min-height: 230px;
}
#main #needs_wrapper{position:absolute;bottom:0;width:100%;height:50%;background-color:white;-webkit-transition:height 0.3s ease-in-out;}
#main.hideMap #needs_wrapper{height:80%;}
#needs_toolbar{background-color:#000;color:white;overflow:hidden;height:46px;}
div.table_filter{width:45%;float:left;}
input#needs_search {border:0;background-color:#282828;color:white;outline:0;height:46px;font-size:14px;width:100%;line-height:14px;padding:5px 10px;max-width:100%;margin:0;}
input#needs_search:focus {background-color:#222;outline:0 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;}
body.work_orders article{margin:15px;}

.dataTable {margin-bottom:0;}

/* Needs Index Items */
body.needs.index address {
	margin: 0;
}
ul.short_descriptions {
	margin: 0;
	padding: 0;
}
ul.short_descriptions li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 80%;
	text-transform: capitalize;
	text-overflow: ellipsis;
	height: 18px;
	overflow: hidden;
	font-style: italic;
}
ul.short_descriptions li span:first-child {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 60%;
	color: #333;
	display: inline-block;
	width: 14px;
	text-align: center;
}

/* Comments */
#commentsWrapper{}
#commentsWrapper .control-group{position:relative;width:100%;}
#commentsWrapper .control-group input[name=commit]{display:block;}
#comment_content{border:2px solid #ccc;padding:5px 10px;height:35px;width:450px;-webkit-border-radius:5px;-webkit-transition:height .5s;}
#comment_content.typing{height:60px;}

@media print{
	body.needs{padding-top:0;}
	body.needs header,
	body.needs #commentsWrapper,
	body.needs .btn-group,
	body.needs .breadcrumb,
	body.needs .nav-fixed {display:none;}
}
